.card-details-container{
    justify-content: center;
}

.cards-details{
    display: flex;
    justify-content: center;
}

.details-movie-poster{
    width: 70%;
    min-width: 200px;
    max-width: 400px;
    border-radius: 20px;
    box-shadow: 0px 0px 5px rgb(249, 153, 10);
    margin-top: 50px;
}

.details-movie-title{
    color: rgb(255, 255, 255);
    font-weight: bold;
}

.details-release-date{
    color: rgb(255, 255, 255);
}

.details-rating{
    color: rgb(248, 205, 11);
}

.overview{
    align-self: center;
    text-align: center;
    color: rgb(247, 241, 229);
    width: 30%;
    color: rgb(173, 134, 82);
}

@media screen and (max-width: 800px) {
    
    .cards-details{
        flex-direction: column;
    }
    
    .details-movie-poster{
        width: 40%;
    }
    
    .overview{
        width: 70%;
    }   
}