.card-link{
    width: 25%;
    max-width: 300px;
    min-width: 100px;
    border-radius:  20px;
    margin: 20px;
    box-shadow: 0px 0px 10px;
    background-color: rgb(169, 197, 224);
}

.movie-poster{
    width: 100%;
    max-width: 300px;
    border-radius: 19px 19px 0 0;
}

.movie-title{
    text-decoration: none;
    flex-shrink: 1;
    color: rgb(116, 49, 49);
    font-weight: bold;
    /* margin: 0; */
    /* font-size: 2vw; */
}
a{
    text-decoration: none;
}