.movie-rating{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 40px;
    border-radius: 30px;
    background-color: rgb(50, 83, 23);
    color: rgb(255, 251, 240);
    font-weight: bold;
    transform: translate(20px, -40px);
}
