.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(249, 153, 10);
}

.navbar-links{
    display: flex;
}

.nav-item{
    font-size: 1.5em;
    color: #3a1903;
    text-shadow: 1px 0px 2px;
}

li{
    list-style: none;
    margin: 0 30px;
    font-weight: bold;
}